.container
  .page-header
    %h2
      %span.glyphicon.glyphicon-search
      Detalles del trabajo
      = job.report_number
  .row
    .col-md-4
      %h4 Detalles del Trabajo
      = link_to edit_job_path(job) do
        %span.glyphicon.glyphicon-pencil
        Editar Trabajo
      %br
      %br
      %dl.dl-horizontal
        %dt Cliente
        %dd= car.client_name
        %dt Automovil
        %dd= car.plates
        %dd= car.model
        %dd= car.brand
        %br
        %dt Estado del Trabajo
        %dd
          - case job.state
          - when "pending"
            %span.label.label-default Pendiente
          - when "running"
            %span.label.label-info En Proceso
          - when "paused"
            %span.label.label-warning Pausado
          - when "finished"
            %span.label.label-success Finalizado
        %br
        - if job.state != "finished"
          %dt Actualizar estado
          %dd
            .btn-group
              %button.btn.btn-xs.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                Actualizar
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                - case job.state
                - when "pending"
                  %li
                    = link_to "Iniciar Trabajo", controller: "jobs", action: :update_status, new_status: 2
                - when "running"
                  %li
                    = link_to "Pausar Trabajo", controller: "jobs", action: :update_status, new_status: 3
                  %li
                    = link_to "Finalizar Trabajo", controller: "jobs", action: :update_status, new_status: 5
                - when "paused"
                  %li
                    = link_to "Reiniciar Trabajo", controller: "jobs", action: :update_status, new_status: 4
    .col-md-4
      %h4 Gastos en este trabajo
      - if job.state != "finished" && job.state != "pending" && job.state != "paused"
        = link_to new_expense_path(job_id: job.id) do
          %span.glyphicon.glyphicon-plus
          Agregar gasto
        %br
        %br
      %table.table.table-hover
        %thead
          %th Id
          %th Descripcion
          %th Costo
          %th Comprador
        %tbody
          = render expenses
    .col-md-4
      %h4 Inversion total en este trabajo:
      %h2{align: "right"}
        = number_to_currency(job.total_cost)
      %br
      %h4 Cotizacion al cliente:
      %h2{align: "right"}
        = number_to_currency(job.quote)
      %h4{align: "right", class: currency_color(job.quote, job.total_cost)}
        Subtotal:
        = number_to_currency(job.subtotal)
      %h4
        Desglose de Porcentajes
      %br
      %table.table.table-hover
        %thead
          %th Id
          %th Nombre
          %th $
        %tbody
        - job.workers.each do |worker|
          %tr
            %td= worker.id
            %td= link_to "#{worker.name} - #{worker.comission}%", worker_path(worker)
            %td= number_to_currency(job.subtotal * (worker.comission/100))
      %br
      %h2{align: "right", class: currency_color(job.quote, job.after_breakdown)}
        Ganancias:
        = number_to_currency(job.after_breakdown)

