.container
  .page-header
    %h2
      %span.glyphicon.glyphicon-user
      Perfil de cliente
      %small.lead Mostrando detalles del cliente
  .row
    .col-md-4
      %h4 Detalles de Cliente
      = link_to edit_client_path(client) do
        %span.glyphicon.glyphicon-pencil
        Editar
      %br
      %br
      %dl.dl-horizontal
        %dt Nombre
        %dd= client.name
        %br
        %dt Telefono
        %dd= client.phone
        %dt Direccion
        %dd= client.address
        %dt Correo
        %dd
          %a{href: "mailto:#{client.email}"}
            = client.email
        %br
        %dd
    .col-md-4
      %h4 Automoviles del Cliente
      = link_to new_car_path(:client_id => client.id), class: "a add" do
        %span.glyphicon.glyphicon-plus
        Agregar Automovil
      %br
      %br
      %table.table.table-hover
        %thead
          %th Id
          %th Modelo
          %th Marca
          %th Tipo
        %tbody
          = render cars
  %br
  %br
