= simple_form_for worker do |f|
  - if worker.errors.any?
    #error_explanation
      %h2
        = pluralize(client.errors.count, "error")
        prohibited this worker from being saved
      %ul
        - worker.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name, placeholder: "Ingrese el nombre del trabajador", label: 'Nombre del trabjador:', required: true
  = f.input :worker_type, collection: %w{Pintor Laminero}, prompt: "Seleccione el tipo de trabajador", label: 'Tipo de trabajador:', required: true
  = f.input :comission, placeholder: "% % %", label: "Comision del trabajador (%): ", required: true
  = f.submit 'Guardar Trabajador', class: 'btn btn-success'

