.container
  .page-header
    %h2
      %span.glyphicon.glyphicon-search
      Detalles del Trabajador
  .row
    .col-md-4
      %h4 Detalles
      = link_to edit_worker_path(worker) do
        %span.glyphicon.glyphicon-pencil
        Editar Trabajador
      %br
      %br
      .dl.dl-horizontal
        %dt Nombre
        %dd= worker.name
        %dt Porcentaje por trabajo
        %dd= "#{worker.comission}%"
        %dt Puesto
        %dd= worker.worker_type
    .col-md-4
      %h4 Gastos de este empleado
      %br
      %br
      %table.table.table-hover
        %thead
          %th Id
          %th Descripcion
          %th Costo
          %th Trabajo
        %tbody
          = render expenses
