%tr
  %td= link_to "#{car.id}", car_path(car)
  %td= car.model
  %td= car.brand
  %td= car.car_type
  - if params[:controller] != "clients"
    %td= car.color
    %td= car.kms
    %td= car.plates
    %td= link_to "#{car.client_name}", client_path(car.client)
    %td
      .btn-group
        %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          Menu
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li= link_to 'Show', car_path(car)
          %li= link_to 'Edit', edit_car_path(car)
          %li.divider
          %li= link_to 'Delete', car_path(car),
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: 'label-danger'

