= simple_form_for car do |f|
  - if car.errors.any?
    #error_explanation
      %h2
        = pluralize(client.errors.count, "error")
        prohibited this car from being saved
      %ul
        - car.errors.full_messages.each do |msg|
          %li= msg

  = f.input :model, label: 'Modelo:'
  = f.input :brand, label: 'Marca:'
  = f.input :car_type, label: 'Tipo de Automovil:'
  = f.input :color, label: 'Color:'
  = f.input :kms, label: 'Kilometraje'
  = f.input :plates, label: 'Placas'
  = f.input :client_id, collection: clients
  = f.submit 'Guardar Automovil', class: 'btn btn-success'
