%strong
  Model:
= car.model
%br
%strong
  Brand:
= car.brand
%br
%strong
  Car Type:
= car.car_type
%br
%strong
  Color:
= car.color
%br
%strong
  Kilometraje:
= car.kms
%br
%strong
  Placas:
= car.plates

%br
%br
= link_to 'Home', cars_path
