.container
  .page-header
    %h2
      %span.glyphicon.glyphicon-search
      = car.model
      %small.lead= car.brand
  .row
    .col-md-4
      %h4 Detalles del Automovil
      =link_to edit_car_path(car) do
        %span.glyphicon.glyphicon-pencil
        Editar
      %br
      %br
      %dl.dl-horizontal
        %dt Tipo
        %dd= car.car_type
        %dt Marca
        %dd= car.brand
        %dt Modelo
        %dd= car.model
        %dt Kilometraje
        %dd= pluralize(car.kms, 'km', 'kms')
        %dt Placas
        %dd= car.plates.upcase
        %dt Dueno
        %dd= link_to "#{car.client_name}", client_path(car.client)
