!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "NOODP", :name => "ROBOTS"}
    %title= title
    = stylesheet_link_tag :application, :media => 'all'
    = csrf_meta_tags
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          = link_to 'Home', root_path, class: 'navbar-brand'
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{:class => "#{'active' if (current_page? (clients_path) or current_page? (root_path))}"}
              = link_to 'Clients', clients_path
            %li{:class => "#{'active' if current_page? (cars_path)}"}
              = link_to 'Cars', cars_path
  %body{:class => body_class}
    = render 'flashes'
    = yield
    = render 'javascript'
  %footer
    %center
      %h6
        Workshop Admin System
        %br
        Oscar Cisneros
